<Config>
  <Links>
    <Link>
      <Id>l0</Id>
    </Link>
  </Links>

  <Nodes>
    <Node>
      <Id>consumer</Id>
      <Path>/tmp/consumer</Path>
      <Links>
	<LinkId>l0</LinkId>
      </Links>
      <Routes>
	<Route>
	  <Prefix>/</Prefix>
	  <OutFace>l0</OutFace>
	</Route>
      </Routes>
    </Node>
    <Node>
      <Id>producer</Id>
      <Path>/tmp/producer</Path>
      <Links>
	<LinkId>l0</LinkId>
      </Links>
    </Node>
  </Nodes>

  <Matrices>
    <Matrix>
      <LinkId>l0</LinkId>
      <Connections>
	<Connection>
	  <From>consumer</From>
	  <To>producer</To>
	  <LossRate>0.5</LossRate>
	</Connection>
	<Connection>
	  <From>producer</From>
	  <To>consumer</To>
	  <LossRate>0.5</LossRate>
	</Connection>
      </Connections>
    </Matrix>
  </Matrices>
</Config>
