<Config>
  <Links>
    <Link>
      <Id>l0</Id>
    </Link>
  </Links>

  <Nodes>
    <Node>
      <Id>consumer</Id>
      <Path>/tmp/consumer</Path>
      <Devices>
	<Device>
	  <LinkId>l0</LinkId>
	  <MacAddress>0x0001</MacAddress>
	</Device>
      </Devices>
      <Routes>
	<Route>
	  <Prefix>/</Prefix>
	  <Interface>0x0001</Interface>
	  <Nexthop>0x0002</Nexthop>
	</Route>
      </Routes>
    </Node>
    <Node>
      <Id>producer</Id>
      <Path>/tmp/producer</Path>
      <Devices>
	<Device>
	  <LinkId>l0</LinkId>
	  <MacAddress>0x0002</MacAddress>
	</Device>
      </Devices>
    </Node>
  </Nodes>

  <Matrices>
    <Matrix>
      <LinkId>l0</LinkId>
      <Connections>
	<Connection>
	  <From>consumer</From>
	  <To>producer</To>
	  <LossRate>0.5</LossRate>
	</Connection>
	<Connection>
	  <From>producer</From>
	  <To>consumer</To>
	  <LossRate>0.5</LossRate>
	</Connection>
      </Connections>
    </Matrix>
  </Matrices>
</Config>
