<Config>
  <Links>
    <Link>
      <Id>l0</Id>
    </Link>
  </Links>

  <Nodes>
    <Node>
      <Id>n0</Id>
      <Path>/tmp/node0</Path>
      <Links>
	<LinkId>l0</LinkId>
      </Links>
      <Routes>
	<Route>
	  <Prefix>/</Prefix>
	  <OutFace>l0</OutFace>
	</Route>
      </Routes>
    </Node>
    <Node>
      <Id>n1</Id>
      <Path>/tmp/node1</Path>
      <Links>
	<LinkId>l0</LinkId>
      </Links>
    </Node>
    <Node>
      <Id>n2</Id>
      <Path>/tmp/node2</Path>
      <Links>
	<LinkId>l0</LinkId>
      </Links>
      <Routes>
	<Route>
	  <Prefix>/</Prefix>
	  <OutFace>l0</OutFace>
	</Route>
      </Routes>
    </Node>
  </Nodes>

  <Matrices>
    <Matrix>
      <LinkId>l0</LinkId>
      <Connections>
	<Connection>
	  <From>n0</From>
	  <To>n1</To>
	  <LossRate>0.0</LossRate>
	</Connection>
	<Connection>
	  <From>n1</From>
	  <To>n0</To>
	  <LossRate>0.0</LossRate>
	</Connection>
	<Connection>
	  <From>n1</From>
	  <To>n2</To>
	  <LossRate>0.0</LossRate>
	</Connection>
	<Connection>
	  <From>n2</From>
	  <To>n1</To>
	  <LossRate>0.0</LossRate>
	</Connection>
      </Connections>
    </Matrix>
  </Matrices>
</Config>
