<Config>
  <Links>
    <Link>
      <Id>wpan0</Id>
    </Link>
    <Link>
      <Id>wpan1</Id>
    </Link>
  </Links>

  <Nodes>
    <Node>
      <Id>n0</Id>
      <Path>/tmp/node0</Path>
      <Links>
	<LinkId>wpan0</LinkId>
      </Links>
      <Routes>
	<Route>
	  <Prefix>/wsn</Prefix>
	  <OutFace>wpan0</OutFace>
	</Route>
      </Routes>
    </Node>
    <Node>
      <Id>n1</Id>
      <Path>/tmp/node1</Path>
      <Links>
	<LinkId>wpan0</LinkId>
      </Links>
      <Routes>
	<Route>
	  <Prefix>/wsn</Prefix>
	  <OutFace>wpan0</OutFace>
	</Route>
      </Routes>
    </Node>
    <Node>
      <Id>n2</Id>
      <Path>/tmp/node2</Path>
      <Links>
	<LinkId>wpan0</LinkId>
	<LinkId>wpan1</LinkId>
      </Links>
      <Routes>
	<Route>
	  <Prefix>/wsn</Prefix>
	  <OutFace>wpan0</OutFace>
	</Route>
      </Routes>
    </Node>
    <Node>
      <Id>n3</Id>
      <Path>/tmp/node3</Path>
      <CacheLimit>1024000</CacheLimit>
      <Links>
	<LinkId>wpan1</LinkId>
      </Links>
      <Routes>
	<Route>
	  <Prefix>/wsn</Prefix>
	  <OutFace>wpan1</OutFace>
	</Route>
      </Routes>
    </Node>
  </Nodes>

  <Matrices>
    <Matrix>
      <LinkId>wpan0</LinkId>
      <Connections>
	<Connection>
	  <From>n0</From>
	  <To>n1</To>
	  <LossRate>0.0</LossRate>
	</Connection>
	<Connection>
	  <From>n1</From>
	  <To>n0</To>
	  <LossRate>0.0</LossRate>
	</Connection>
	<Connection>
	  <From>n1</From>
	  <To>n2</To>
	  <LossRate>0.0</LossRate>
	</Connection>
	<Connection>
	  <From>n2</From>
	  <To>n1</To>
	  <LossRate>0.0</LossRate>
	</Connection>
      </Connections>
    </Matrix>
    <Matrix>
      <LinkId>wpan1</LinkId>
      <Connections>
	<Connection>
	  <From>n2</From>
	  <To>n3</To>
	  <LossRate>0.0</LossRate>
	</Connection>
	<Connection>
	  <From>n3</From>
	  <To>n2</To>
	  <LossRate>0.0</LossRate>
	</Connection>
      </Connections>
    </Matrix>
  </Matrices>
</Config>
